{
  "hard_coded_contacts": [
    "192.168.178.24:12000"
  ],
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "tcp_acceptor_port": 12000,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "force_acceptor_port_in_ext_ep": false,
  "network_name": "beta",
  "dev": null
}
